.wrapper {
    width: 50%;
    margin: 20px auto;
}
span {
    font-family: 'Oswald', sans-serif;
    font-size: 400;
}
ul {
    list-style-type: none;
}
li {
    text-align: center;
    margin-top: 5px;
}
h4 {
    margin-top: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 400;
}