<div class="wrapper">
  <h1>Юлия Лобжа</h1>
  <hr>
  <div class="text-info">
    <p><span>Дата рождения:</span> 20.01.1995</p>
    <p><span>Место проживания:</span> город Жодино</p>
    <p><span>Образование:</span> БГУ факультет журналистики,<br> Институт журналистики,<br> кафедра телевидения и
      радиовещания</p>
  </div>
  <hr>
  <img src={{imageSource}} />
  <hr>
  <app-information-about-work-experience></app-information-about-work-experience>
  <hr>
  <app-information-about-skills></app-information-about-skills>
</div>